@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply cursor-pointer hover:underline;
    }
    .button{
        @apply p-3 text-lg font-semibold md:text-sm border 
        border-none rounded-md 
        focus:outline-none shadow-md
    }
    .growing-hover {
        @apply transition-transform duration-300 transform origin-bottom scale-100;
    }
    .nav-menu{
        @apply bg-amazon_blue w-48 h-full flex p-2 fixed top-0 -left-full delay-700;
    }
}

.growing-hover:hover{
    --tw-scale-x: 1.04;
    --tw-scale-y: 1.04;
    transform: var(--tw-transform);
}
.button{
    background: linear-gradient(to bottom, #00d2ff 0%, #3a7bd5 105%);
}
.button:active{
    background: linear-gradient(0deg,#1082fd,#1ffdfd);
}

.button.inactive{
    background: linear-gradient(0deg,#2a2b2b, #6c6d6e);
}
  
.nav-menu.active {
    left: 0;
    transition: ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1050ms;
}

.nav-menu.inactive {
    right: 0;
    transition: ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1050ms;
}

.item-enter{
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%;
}
.item-enter-active{
    opacity: 1;
    transform: scale(1);
    transition: all 400ms ease-out;
}
.item-exit{
    opacity: 1;
    height: 550px;
    transform: scale(1);
    will-change: height;
}
@media (min-width: 640px){
    .item-exit{
        height: 200px;
    }
}
.item-exit-active{
    opacity: 0;
    height: 0;
    transform: scale(0);
    transition: all 400ms ease-out;
}
.disappear-enter{
    opacity:0;
    transform: translateX(300px);
}
.disappear-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease-out;
}
.disappear-exit{
    opacity: 1;
    width: 300px;
    transform: translateX(0);
    will-change: width;
}
.disappear-exit-active{
    opacity: 0;
    height: 0;
    transform: translateX(3);
    transition: all 400ms ease-out;
}